@model Attendance.Pages.Category.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Categoris</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td class="app-td">
                    @Html.DisplayFor(modelItem => item.CategoryCode)
                </td>
                <td class="app-td">
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>                
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Category.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Category.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Category.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Category.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>


