@page
@model Attendance.Pages.VIQInfo.IndexModel

@{
    ViewData["Title"] = "VIQInfo";
    ViewData["Menu"] = "viqinfo";
}

<h1>VIQInfo</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VIQInfoModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIQInfoModel[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIQInfoModel[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIQInfoModel[0].NumOfQuestions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VIQInfoModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfQuestions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.QId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
