@page
@model Attendance.Pages.QuestionPoolPartial.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionPool[0].questioncode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionPool[0].question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.QuestionPool) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.questioncode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.questionid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.questionid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.questionid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
